.card {
    border: 2px solid black;
    width: 300px;
    margin: 20px auto;
    text-align: center;
    border-radius: 20px;
}

.card img {
    border-radius: 20px;
    max-width: calc(100% - 20px);
    height: auto;
   
}

button {
    border-radius: 6px;
    margin: 10px;
}

section {
    border: solid black 2px;
    text-align: center;
    margin: 30px;
    border-radius: 15px;
}

section:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.planet {
    background-color: aliceblue;
}